
<style>
    header {
        pointer-events: none;
    }

   /* header .header-logo {
        text-align: center;
        pointer-events:none;
    }*/

</style>

<div style="text-align:center; height:100vh">
    <img src="~/Assets/DownTimeQuiz.png"  style="width:100%;height:auto;"/>
</div>









