<div class="row bg-white status-nav">
    <div class="col-12">
        <div class="row">
            <div class="col-1"><a href="@Url.Action("Index","LandingPage")"><i class="fas fa-chevron-circle-left" style="color:#1B7885; font-size:20px;"></i></a></div>
            <div class="col-9" style="color:#1B7885">এন্টারটেইনমেন্ট</div>
        </div>
    </div>
</div>

<div style="height:30vh;" class="mt-3">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe id="vid" class="embed-responsive-item" src="https://wap.shabox.mobi/CMS/assets/video/Rokeyar_Tensione_Dui_Number.mp4" allowfullscreen></iframe>
    </div>
</div>
<div id="parrent_layout">
    <div id="layout" class="col-12" style="height:62vh;overflow:auto;">

    </div>
</div>


@section scripts{
    <script src="~/Scripts/umlop/entertainment.js" type="text/javascript"></script>
}

