
<div style="margin-top: 2vh;text-align:center;">
    <img src="~/Assets/KhelarNiyomImage.png" style=" width: 100%; " />
</div>
<br />
<div>

    <iframe src="https://www.youtube.com/embed/bON-KPiiNCk" style="width:100%;height:auto;" title="Quizmaster Tutorial" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>

</div>


@section leaderboard{
    <div class="fixed-bottom">

        <div class="row" style="color:white;margin-top: 7%;position: absolute;z-index: 1030;">
            <div class="col-4" style="text-align: center;width: 100vw;margin-top: 5.5%; " onclick="leaderBoard()" id="leaderBoardz">
                <img src="~/Assets/LiveQuizRelated/Daily Winner 3.png" style="width: 15vw;margin-top: -52%;margin-left: -14%;" asp-append-version="true" />
            </div>
            <div class="col-4" style=" text-align: center; width: 100vw; " onclick="home()">
                <img src="~/Assets/LiveQuizRelated/Home 2.png" style="text-align: center;width: 8vw;margin-top: -18.5%;margin-left: -3%;" asp-append-version="true" />
            </div>
            <div class="col-4" style="text-align: center;width: 100vw;margin-top: 5.5%;" onclick="leaderBoard_Monthly()">
                <img src="~/Assets/LiveQuizRelated/Leaderboard 3.png" style=" width: 13vw; margin-top: -52%; " asp-append-version="true" />
            </div>
        </div>

        <img style="width: 100%; height:auto" src="~/Assets/LiveQuizRelated/Bar-Color.png" asp-append-version="true" />
    </div>

}


