
@{
    ViewBag.Title = "Settings";
}

<h2>Settings</h2>

@section leaderboard{
    @*<div style="position:fixed; bottom:0px; width:100%;">
            <div style="padding-top: 10px; margin-top: 10px; text-align: center; background-color: #ff2192; padding-bottom: 3px; ">
                <a style="font-size:12px; color:white;" onclick="leaderBoard()"><h4><i class="fa fa-trophy" aria-hidden="true"></i>&nbsp; ডেইলি উইনার লিস্ট </h4></a>
            </div>
        </div>*@



    <div class="fixed-bottom" style="bottom: 0vw;">
        <div class=" row" style="color:white; margin-top: 5.5%; position: absolute; z-index: 1030;">
            <div class="col-4" style="text-align: center;width: 100vw;margin-top: 5.5%; " onclick="leaderBoard()" id="leaderBoardz">
                <i class="fas fa-crown"></i>
            </div>
            <div class="col-4" style=" text-align: center; width: 100vw; " onclick="home()">
                <i class="fas fa-home"></i>
            </div>
            <div class="col-4" style="text-align: center;width: 100vw;margin-top: 5.5%;" onclick="leaderBoard_Monthly()">
                <i class="fas fa-trophy"></i>
            </div>
        </div>

        <img style="width:100vw; height:auto" src="~/Assets/leaderboard/1.png" />
    </div>


}
